h1 {  
     background:black;
     color: white;
     font-family: Helvetica, serif;
    }



h2 { background: black;
       font-family: Helvetica, sans-serif;
     color:white;

}

h3 { background: black;
     font-family: Helvetica, sans-serif;
     color:white;

}

h4 {
      background: black;
     font-family: Helvetica, sans-serif;
     color:white;
}

h5{
  background: black;
  font-family: Helvetica, sans-serif; 
  color: white;}




body {
    background:black;
    background-color:black:
}

#name {color: white;
		font-family: Helvetica, sans-serif;
		margin: 50px;
		padding: 15px;

}

#passion {color: white;
        font-family: Helvetica, sans-serif;
        margin: 50px;
        padding: 15px;
    }

#international {
        background: black;
        font-family: Helvetica, sans-serif;
        color:white;
        margin: 100px
    }



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Univers, sans-serif;
}

/*  list items side by side */
ul.topnav li {float: left;}

/* Style the links */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: Univers, sans-serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the link */
ul.topnav li.icon {display: none;}

